<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="TelerikNuGetV3" value="https://nuget.telerik.com/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
	</packageSources>
	<packageSourceCredentials>
		<TelerikNuGetV3>
			<add key="Username" value="api-key" />
			<!-- Instead of hardcoding, you can also reference an environment variable -->
			<add key="ClearTextPassword" value="CDIJ7rIVuU2afL89Jj0vHQ==.rvi530Iq8tG+770LvJraOhxSrFscl7sQAUIkPAsmyiRLh/dI0kYmEiYLciJF29IiKDA4GqETLnAmiBjSFlxTJQ==" />
		</TelerikNuGetV3>
	</packageSourceCredentials>
</configuration>